header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 15px;
    background: #BA2D0B;
    color: white;

    z-index: 1000;
}

.hamburger {
    font-size: 24px;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
}

nav {
    display: none;
    position: absolute;
    top: 60px;
    left: 15px;
    background: #444;
    padding: 10px;
    border-radius: 5px;
}

nav.active {
    display: flex;
    flex-direction: column;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 8px;
}

body {
    font-family: sans-serif;
    color: black;
    margin-left: 20px;
    background-color: #fffaf1;
}

body.dark {
    background: #1e1e1e;
    color: white;
}

main {
    margin-top: 70px;
}

.fonte_cursiva {
    font-family: 'Brush Script MT', cursive;
}

nav a:visited {
    color: white;
}
