.nome_cidade{
    font-size: 80px;
    color: #2675c4;
    text-decoration: underline;
}

.cards_atracoes{
    display: flex;
    gap: 20px;
    justify-content: left;
    max-width: 100%;
    overflow-x: visible;
    flex-wrap: wrap;
}

.card_atracao{
    width: 350px;
    height: 500px;
    border: 2px solid black;
    border-radius: 5px;
    display: flex;
    align-items: flex-end;
    box-shadow: 0 0px 20px rgba(0, 0, 0, 0.7);
}

.card_atracao:hover .titulo_card{
    display: none;
}

.card_atracao:hover .descricao_card{
    display: block;
}

.titulo_card{
    position: absolute;
    color: white;
    width: 350px;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.7);
}

.descricao_card{
    display: none;
    position: absolute;
    color: white;
    width: 350px;
    height: 500px;
    font-size: 14px;
    background-color: rgba(0, 0, 0, 0.9);
}

.card_atracao a{
    align-self: start;
}

.card_atracao span p{
    margin-left: 5px;
}

h1{
    font-size: 60px;
}