.box_infos{
    display: flex;
    width: 100%;
}

.text_infos{
    background-color: whitesmoke; width: 100%;
}

.text_descricao{
    margin-left: 10px;
}

.box_images{
    width: 350px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.local_image{
    height: 200px;
}

.gps_image{
    height: 200px;
}