.box_cards{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.extern_box_card{
    width: 100%;
}

.box_card{
    border: 2px solid black;
    border-radius: 2px;
}

.box_card:hover{
    color: black;
}

.card_description{
    margin-left: 5px;
}