.box_cards{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.extern_box_card{
    width: 100%;
    box-shadow: 0 0px 20px rgba(0, 0, 0, 0.7);
}

body.dark .extern_box_card {
    width: 100%;
    box-shadow: 0 0px 20px rgba(0, 0, 0, 0.7);
    color: white;
}

.box_card{
    border: 2px solid black;
    border-radius: 2px;
    display: flex;
}

.box_card:hover{
    color: black;
}

body.dark .box_card:hover {
    color: white;
}

body.dark .extern_box_card:visited {
    color: white;
}

.card_description{
    margin-left: 5px;
}

.image_box_card{
    width: 350px;
    height: 200px;
    background-color: black;
}

.box_card_description{
    width: 100%;
}

.box_cards a:visited{
    color: #2675c4;
}

.titulo{
    font-size: 60px;
}

#filtroPontosTuristicos{
    width: 500px;
    font-size: 25px;
}

#sectionFiltro{
    margin-bottom: 30px;
    margin-top: 10px;
}

#spanFiltro{
    font-size: 30px;
    color: black;
}

body.dark #spanFiltro{
    font-size: 30px;
    color: white;
}